.convert-button{

   
align-items: center;
color:white;
}

.convert-button-span{
    width: 15px;
    height: 15px;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-weight: bold;
    color:white;
    background-color: #303030;
}
.convert-button-link{
    text-decoration:none;
    color:white;
}