.table{
    overflow-y: scroll;
width: 60vw;


&--heading{
  background-color:#040404;
  border: 1px #999999 solid;
}

&--element {
  text-align: center;
  border: 1px #999999 solid;
  padding:0;
  border-spacing: 0;
}
  }
  .table-container{
    position: relative;
    overflow-y: scroll;
    height: 60vh;

    overflow-x: hidden;
    
  }
  ::-webkit-scrollbar{
    background-color: #303030;
  }
  ::-webkit-scrollbar-track {
    background:#303030;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
